h1 {
  font-size: 30px;
  color: navy;
  text-align: center;
}
.about-me {
  font-size: 20px;
  color: green;
  text-align: center;
}
.info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.email p a {
  color: red;
  font-weight: bold;
}